build/
*.o
arr-torrentd
arr-torrent-client-cpp

# autotools stuff
.deps
.dirstamp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure